body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.typed{
  color: tomato;
}
@media (max-width:"786px"){
  .paperMedia{
    width: 100%;
    
  }
  .typed{
    font-size: 6px;
  }
}

@media (max-width:786px){
  
  .typed{
    font-size: 16px;
  }
}
/* a{
  text-decoration: none;
} */